html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em,
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section
{
	display: block;
}

body
{
	line-height: 1.5em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

body strong, body b
{
	font-weight: bold;
}

body em, body i
{
	font-style: italic;
}

body sup
{
	font-size: 0.8em;
	vertical-align: super;
}


blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3
{
	font-weight: lighter;
	line-height: 1.15em;
}

h1 b, h2 b, h3 b,
h1 strong, h2 strong, h3 strong
{
	font-weight: normal;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h3 a { text-decoration: none; }

p
{
	margin: 1em 0;
}

a, a:visited
{
	color: #000000;
}
a:active
{
	color: #555555;
}
.dark a, .dark a:visited
{
	color: #ffffff;
}
.dark a:active
{
	color: #aaaaaa;
}

a.button
{
	display: inline-block;

	text-decoration: none;
	padding: 10px 20px 10px 20px;

	background-color: #000000;
	color: #ffffff;
}

main
{
	clear: both;
	background-color: #e8e8e8;
	margin: 47px 0 0 0;
	padding: 30px 30px 20px 30px;
}

main.fullwidth
{
	margin: 80px 0 0 0;
	padding: 0;
}

main.fullwidth section
{
	padding: 30px 30px 20px 30px;
}

main.fullwidth section.image
{
	clear: both;

	background-size: cover;
	background-repeat: no-repeat;
	border-top: solid 2px #eeeeee;

	height: 200px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

nav.linkbar
{
	white-space: nowrap;
}
nav.linkbar ul
{
	list-style-type: none;
}
nav.linkbar ul li
{
	display: inline;
	margin: 0 0 0 15px;
}
nav.linkbar ul li:first-child
{
	margin: 0;
}
nav.linkbar ul li a
{
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #cccccc;
	color: #000000;
}
nav.linkbar ul li a:hover
{
	background-color: #999999;
}

nav#external
{
	padding-top: 25px;
}
nav#external ul li#twitter a
{
	background-color: #ff6d48;
}
nav#external ul li#twitter a:hover
{
	background-color: #ff8d60;
}

div#frontpage
{
	background-color: #444444;
	background: url('/images/frontpage-bg.jpg') right 70% no-repeat;
	background-size: cover;
	color: #d0d0d0;
	width: 100%;
	height: 300px;
}
div#frontpage div.container
{
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	width: 100%;
	height: 100%;
	position: relative;
}
div#intro
{
}
div#intro h2, div#intro h2 a
{
	color: #f8f8f8;
	text-decoration: none;
}
div#intro .description
{
	float: left;
	width: calc(100% - 140px);
	margin: 0 0 40px 40px;
}
div#intro .description p
{
	margin-bottom: -5px;
}
div#intro .logo
{
	float: left;
	margin-bottom: 40px;

	background: url('/images/logo-orange-light.png') 0 0 no-repeat;
	background-size: 63px 100px;
	height: 100px;
	width: 63px;
}
div#intro:after
{
	content: '';
	display: block;
	clear: both;
}

div#frontpage div.episode
{
	position: absolute;
	bottom: 15px;
	width: 100%;
}
div#frontpage div.episode span.number
{
	color: #ff8d60;
	font-weight: 500;
}
div#frontpage div.episode span.separator
{
	margin-left: 10px;
	background: url('/images/dot.svg') center center no-repeat;
	background-size: 5px 5px;
	text-decoration: none;
	text-indent: -9999px;
	display: inline-block;
	z-index: 1;
	width: 5px;
	height: 21px;
}
div#frontpage div.episode span.date
{
	margin-left: 10px;
}
div#frontpage div.episode h3, div#frontpage div.episode h3 a
{
	color: #f8f8f8;
	text-decoration: none;
	margin-bottom: -20px;
}

div#play
{
	position: relative;
	background-color: #222222;
	height: 60px;
}
div#play section
{
    padding-top: 0;
    padding-bottom: 0;
    margin-top: 0;
    margin-bottom: 0;
}

div.light
{
	background-color: #e8e8e8;
	color: #444444;
}
div.light a { }
div.light h2, div.light h2 a
{
	color: #6a6a6a;
}
div.light a.button
{
	background-color: #6a6a6a;
	color: #f8f8f8;
}

div.dark
{
	background-color: #6a6a6a;
	color: #d0d0d0;
}
div.dark a { }
div.dark h2, div.dark h2 a
{
	color: #f8f8f8;
}
div.dark h2 a { }
div.dark a.button
{
	background-color: #e8e8e8;
	color: #6a6a6a;
}

div.episode nav.linkbar
{
	margin-top: 20px;
}
div.episode .date
{
	margin-top: 3px;
}

div.about
{
	background-color: #444444;
	color: #d0d0d0;
}
div.about h2, div.about h2 a
{
	color: #f8f8f8;
}
div.about a.button
{
	background-color: #ffffff;
	color: #1570a6;
}

div.archive_navigation
{
	background-color: #444444;
	color: #d0d0d0;
}
div.archive_navigation a.button, div.archive_navigation a.button:visited
{
	background-color: #dddddd;
	color: #000000;
}
div.archive_navigation .newer { float: left; }
div.archive_navigation .older { float: right; }
div.archive_navigation section:after
{
	content: '';
	display: block;
	clear: both;
}

div.blog blockquote
{
	padding: 5px 10px 5px 20px;
}

div.bio .photo
{
	float: left;
}
div.bio .photo img
{
	width: 125px;
	height: 125px;
	border: solid 2px black;
}
div.bio .description
{
	float: left;
	margin-left: 25px;
	width: calc(100% - 154px);
}
div.bio section:after
{
	content: '';
	display: block;
	clear: both;
}

div.contact .logo
{
	float: left;
}
div.contact .description
{
	float: left;
	margin-left: 25px;
	width: calc(100% - 154px);
}
div.contact .description h3
{
	font-size: 25px;
}
div.contact section:after
{
	content: '';
	display: block;
	clear: both;
}

footer
{
	background-color: #f8f8f8;
	color: #444444;
	padding: 30px;
	font-size: 14px;
	line-height: 1.3em;
}
footer #copyright
{
	font-size: 10px;
}
footer a, footer a:visited
{
	text-decoration: none;
	color: #000000;
}

/* mediaplayer */
.mejs__button > button {
	background: none;
}
.mejs__container {
	background: transparent;
}
.mejs__controls {
	background: transparent !important;
	top: 12px;
	padding: 0;
}
.mejs__play > button, .mejs__replay > button {
	background: url('/images/media.svg') no-repeat;
	background-size: auto 20px;
	background-position: 0 0;
	height: 20px;
	width: 20px;
}
mejs__pause > button {
	background: url('/images/media.svg') no-repeat;
	background-size: auto 20px;
	background-position: -20px 0;
	height: 20px;
	width: 20px;
}
.mejs__playpause-button {
	width: 20px;
}
.mejs__playpause-button > button {
	margin-left: 0;
	margin-right: 0;
}
.mejs__currenttime-container {
	color: #c0c0c0;
	padding-left: 16px;
	padding-right: 0;
}
.mejs__time-total, .mejs__horizontal-volume-total {
	background-color: #505050
}
.mejs__time-current, .mejs__horizontal-volume-current {
	background-color: #ff6d48;
}
.mejs__horizontal-volume-slider {
	width: 50px;
}
.mejs__mute > button {
	background: url('/images/media.svg') no-repeat;
	background-size: auto 20px;
	background-position: -40px 0;
	height: 20px;
	width: 20px;
}
.mejs__unmute > button {
	background: url('/images/media.svg') no-repeat;
	background-size: auto 20px;
	background-position: -60px 0;
	height: 20px;
	width: 20px;
}
.mejs__duration-container {
	color: #c0c0c0;
	padding-left: 0;
	padding-right: 16px;
}
