html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p,
blockquote, pre, a, abbr, acronym, address, big, cite, code,del, dfn, em,
img, ins, kbd, q, s, samp,small, strike, strong, sub, sup, tt, var,
b, u, i, center,dl, dt, dd, ol, ul, li, fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas,
details, embed, figure, figcaption, footer, header, hgroup, menu, nav,
output, ruby, section, summary, time, mark, audio, video
{
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}

article, aside, details, figcaption, figure, footer, header, hgroup,
menu, nav, section
{
	display: block;
}

body
{
	line-height: 1.5em;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
	font-size: 14px;
}

body strong, body b
{
	font-weight: bold;
}

body em, body i
{
	font-style: italic;
}

body sup
{
	font-size: 0.8em;
	vertical-align: super;
}


blockquote:before, blockquote:after,
q:before, q:after
{
	content: '';
	content: none;
}

table
{
	border-collapse: collapse;
	border-spacing: 0;
}

h1, h2, h3
{
	font-weight: lighter;
	line-height: 1.15em;
}

h1 b, h2 b, h3 b,
h1 strong, h2 strong, h3 strong
{
	font-weight: normal;
}

h1 { font-size: 40px; }
h2 { font-size: 32px; }
h3 { font-size: 28px; }
h3 a { text-decoration: none; }

p
{
	margin: 1em 0;
}

a, a:visited
{
	color: #000000;
}
a:active
{
	color: #555555;
}
.dark a, .dark a:visited
{
	color: #ffffff;
}
.dark a:active
{
	color: #aaaaaa;
}

a.button
{
	display: inline-block;

	text-decoration: none;
	padding: 10px 20px 10px 20px;

	background-color: #000000;
	color: #ffffff;
}

main
{
	clear: both;
	background-color: #e8e8e8;
	margin: 47px 0 0 0;
	padding: 30px 30px 20px 30px;
}

main.fullwidth
{
	margin: 80px 0 0 0;
	padding: 0;
}

main.fullwidth section
{
	padding: 30px 30px 20px 30px;
}

main.fullwidth section.image
{
	clear: both;

	background-size: cover;
	background-repeat: no-repeat;
	border-top: solid 2px #eeeeee;

	height: 200px;
	margin: 0;
	padding: 0;
	overflow: hidden;
	width: 100%;
}

div#fullheight
{
	background-color: #444444;
	background-size: cover;
	color: #d0d0d0;
	width: 100%;
	height: calc(100% - 140px);
	min-height: 230px;
}

div#intro
{
	background-color: #333333;
	color: #c0c0c0;
}
div#intro h2, div#intro h2 a
{
	color: #f8f8f8;
	text-decoration: none;
}
div#intro .description
{
	float: left;
	width: calc(100% - 140px);
	margin: 0 0 40px 40px;
}
div#intro .description p.date
{
	margin-top: 3px;
}
div#intro .description p
{
	margin-bottom: -5px;
}
div#intro .logo
{
	float: left;
	margin-bottom: 40px;

	background: url('/images/logo-orange-light.png') 0 0 no-repeat;
	background-size: 63px 100px;
	height: 100px;
	width: 63px;
}
div#intro:after
{
	content: '';
	display: block;
	clear: both;
}

nav.linkbar
{
	white-space: nowrap;
}
nav.linkbar ul
{
	list-style-type: none;
}
nav.linkbar ul li
{
	display: inline;
	margin: 0 0 0 15px;
}
nav.linkbar ul li:first-child
{
	margin: 0;
}
nav.linkbar ul li a
{
	display: inline-block;
	padding: 10px 20px;
	text-decoration: none;
	background-color: #cccccc;
	color: #000000;
}
nav.linkbar ul li a:hover
{
	background-color: #999999;
}
div.dark nav.linkbar ul li a
{
	background-color: #444444;
	color: #eeeeee;
}
div.dark nav.linkbar ul li a:hover
{
	background-color: #111111;
}

div.player div.controls
{
	float: left;
	width: calc(100% - 40px);
}
div.player div.download
{
	float: left;
	background: url('/images/media.svg') no-repeat;
	background-size: 100px 40px;
	background-position: -80px 0;
	height: 20px;
	width: 20px;
	margin-left: 20px;
	margin-top: 22px;
	text-decoration: none;
	text-indent: -9999px;
	display: inline-block;
	z-index: 1;
}
div.player:after
{
	content: '';
	display: block;
	clear: both;
}
div.light div.player div.download
{
	background-position: -80px -20px;
}

div.light
{
	background-color: #e8e8e8;
	color: #444444;
}
div.light a { }
div.light h2, div.light h2 a
{
	color: #6a6a6a;
}
div.light a.button
{
	background-color: #6a6a6a;
	color: #f8f8f8;
}

div.dark
{
	background-color: #6a6a6a;
	color: #d0d0d0;
}
div.dark a { }
div.dark h2, div.dark h2 a
{
	color: #f8f8f8;
}
div.dark h2 a { }
div.dark a.button
{
	background-color: #e8e8e8;
	color: #6a6a6a;
}

div.episode span.number
{
	color: #ff8d60;
	font-weight: 500;
}
div.episode.light span.number
{
	color: #f05432;
	font-weight: 500;
}
div.episode span.separator
{
	margin-left: 10px;
	margin-right: 10px;
	background: url('/images/dot.svg') no-repeat;
	background-position: 0 center;
	width: 5px;
	height: 21px;

	text-decoration: none;
	text-indent: -9999px;
	display: inline-block;
	z-index: 1;
}
div.episode.light span.separator
{
	background-position: -5px center;
}
div.episode nav.linkbar
{
	margin-top: 20px;
}
div.episode .date
{
	margin-top: 3px;
}
div.episode .episode_metadata
{
	margin-bottom: 4px;
}
div.episode .episode_player
{
	margin-bottom: -15px;
}

div.about
{
	background-color: #444444;
	color: #d0d0d0;
}
div.about h2, div.about h2 a
{
	color: #f8f8f8;
}
div.about a, div.about a:visited
{
	color: #eeeeee;
	text-decoration: none;
}
div.about a.button
{
	background-color: #ffffff;
	color: #1570a6;
}

div.archive_navigation
{
	background-color: #444444;
	color: #d0d0d0;
}
div.archive_navigation a.button, div.archive_navigation a.button:visited
{
	background-color: #dddddd;
	color: #000000;
}
div.archive_navigation .newer { float: left; }
div.archive_navigation .older { float: right; }
div.archive_navigation section:after
{
	content: '';
	display: block;
	clear: both;
}

div.blog blockquote
{
	padding: 5px 10px 5px 20px;
}

div.bio img.photo
{
	width: 125px;
	height: 125px;
	border: solid 2px black;
	margin-right: 25px;
	margin-bottom: 20px;
}

div.contact .logo
{
	float: left;
	width: 30px;
}
div.contact .description
{
	float: left;
	margin-left: 40px;
	width: calc(100% - 70px);
}
div.contact .description h3
{
	font-size: 25px;
}
div.contact section:after
{
	content: '';
	display: block;
	clear: both;
}

footer
{
	padding: 30px;
	font-size: 14px;
	line-height: 1.3em;
	position: relative;
}
footer #copyright
{
	display: block;
	font-size: 10px;
}
footer #follow
{
	position: absolute;
	right: 30px;
	top: calc(50% - 12px);
}
footer a, footer a:visited
{
	text-decoration: none;
}

footer.light
{
	background-color: #f8f8f8;
	color: #444444;
}
footer.light a, footer.light a:visited
{
	color: #000000;
}
footer.dark
{
	background-color: #333333;
	color: #a0a0a0;
}
footer.dark a, footer.dark a:visited
{
	color: #c0c0c0;
}

footer #follow .follow_link
{
	float: right;
	margin-left: 15px;
}
footer #follow .follow_link a
{
	background: url('/images/contact/contact.svg') no-repeat;
	background-size: 100px 25px;
	width: 25px;
	height: 25px;

	text-decoration: none;
	text-indent: -9999px;
	display: inline-block;
	z-index: 1;
}
footer #follow #footer_email.follow_link a
{
	background-position: -75px 0;
}
footer #follow #footer_twitter.follow_link a
{
	background-position: -50px 0;
}
footer #follow #footer_facebook.follow_link a
{
	background-position: -25px 0;
}
footer #follow #follow_rss.follow_link a
{
	background-position: 0 0;
}
footer #follow:after
{
	content: '';
	display: block;
	clear: both;
}

/* episode */

div#profile
{
	float: right;
	padding: 0;
	margin-left: 25px;
	width: 216px;
	height: 216px;
}

div#profile img
{
	border: solid 8px #333333;
	margin: 0;
	padding: 0;
	width: 200px;
	height: 200px;
}
main.post blockquote
{
	background-color: #d0d0d0;
	padding: 15px 30px;
}
main.post blockquote p:last-of-type
{
	margin-bottom: 0;
}
main.post h3
{
	font-size: 20px;
	margin-top: 18px;
}
main.post ul
{
	margin-left: 18px;
	margin-top: 5px;
	list-style-type: square;
}

div#episode_player section
{
	padding-top: 0;
}

main.post p:first-of-type
{
	margin-top: 0;
}

/* frontpage */

main#frontpage div#fullheight
{
	background: url('/images/frontpage-bg.jpg') right 70% no-repeat;
	background-size: cover;
}
main#frontpage div#fullheight div.container
{
	background: -moz-linear-gradient(-45deg, rgba(0,0,0,0.5) 0%, rgba(0,0,0,0) 100%);
	background: -webkit-linear-gradient(-45deg, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	background: linear-gradient(135deg, rgba(0,0,0,0.5) 0%,rgba(0,0,0,0) 100%);
	width: 100%;
	height: 100%;
	position: relative;
}

main#frontpage div#fullheight div#intro
{
	background-color: transparent;
}
main#frontpage div#fullheight div.episode
{
	position: absolute;
	bottom: 15px;
	width: 100%;
}
main#frontpage div#fullheight div.episode h3,
main#frontpage div#fullheight div.episode h3 a
{
	color: #f8f8f8;
	text-decoration: none;
	margin-bottom: -20px;
}

main#frontpage div#featured_player
{
	position: relative;
	background-color: #222222;
	height: 60px;
}
main#frontpage div#featured_player section
{
	padding-top: 0;
	padding-bottom: 0;
	margin-top: 0;
	margin-bottom: 0;
}

main#frontpage .dark h3, main#frontpage .dark h3 a
{
	color: #ffffff;
}
main#frontpage .light h3, main#frontpage .light h3 a
{
	color: #222222;
}

main#frontpage nav#external
{
	padding-top: 25px;
}
main#frontpage nav#external ul li#rss a
{
	background: #cccccc url('/images/rss-dark.svg') no-repeat calc(100% - 20px) center;
	background-size: 15px 15px;
	padding-right: 45px;
}
main#frontpage nav#external ul li#twitter a,
main#frontpage nav#external ul li#facebook a
{
	background-color: #ff6d48;
}
main#frontpage nav#external ul li#twitter a:hover,
main#frontpage nav#external ul li#facebook a:hover
{
	background-color: #ec502e;
}

/* mediaplayer */

.mejs__button > button {
	background: none;
}
.mejs__container {
	background: transparent;
}
.mejs__controls {
	background: transparent !important;
	top: 12px;
	padding: 0;
}
.mejs__button > button {
	background: url('/images/media.svg') no-repeat;
	background-size: 100px 40px;
	height: 20px;
	width: 20px;
}
.mejs__play > button, .mejs__replay > button {
	background-position: 0 0;
}
.mejs__pause > button {
	background-position: -20px 0;
}
.mejs__playpause-button {
	width: 20px;
}
.mejs__playpause-button > button {
	margin-left: 0;
	margin-right: 0;
}
.mejs__currenttime-container {
	color: #c0c0c0;
	padding-left: 16px;
	padding-right: 0;
}
.light .mejs__currenttime-container {
	color: #303030;
}
.light .mejs__time-hovered {
	background-color: rgba(255, 255, 255, 0.5);
}
.mejs__time-total,
.mejs__horizontal-volume-total {
	background-color: #505050;
}
.light .mejs__time-total,
.light .mejs__horizontal-volume-total {
	background-color: #a0a0a0;
}
.mejs__time-current, .mejs__horizontal-volume-current {
	background-color: #ff6d48;
}
.mejs__horizontal-volume-slider {
	width: 50px;
}
.mejs__mute > button {
	background-position: -40px 0;
}
.mejs__unmute > button {
	background-position: -60px 0;
}
.mejs__duration-container {
	color: #c0c0c0;
	padding-left: 0;
	padding-right: 0;
}
.mejs__volume-button
{
	margin-left: 15px;
}

.light .mejs__play > button, .light .mejs__replay > button {
	background-position: 0 -20px;
}
.light .mejs__pause > button {
	background-position: -20px -20px;
}
.light .mejs__mute > button {
	background-position: -40px -20px;
}
.light .mejs__unmute > button {
	background-position: -60px -20px;
}
.light .mejs__currenttime-container,
.light .mejs__duration-container {
	color: #777777;
}
