---
layout: default
title: The Podcast About Git
---
<main class="fullwidth">
	<div id="intro">
		<section>
			<div class="logo"></div>
			<div class="description">
				<h2>The podcast about Git</h2>

				<nav id="external" class="linkbar">
					<ul>
						<li id="itunes"><a href="#" target="_blank">iTunes</a></li>
						<li id="soundcloud"><a href="#" target="_blank">SoundCloud</a></li>
						<li id="twitter"><a href="https://twitter.com/allthingsgit" target="_blank">Twitter</a></li>
					</ul>
				</nav>
			</div>
		</section>
	</div>

	{% for post in site.posts limit:3 %}
	<div class="episode {% cycle 'light', 'dark' %}">
		<section>
			<h3><a href="{{post.url}}">{{post.title}}</a></h3>
			<div class="date">{{post.date | date: '%B %-d, %Y'}}</div>

			<p>
				{% if post.content contains '<!--summary-->' %}
				{% assign summary_parts = post.content | split:'<!--summary-->' %}
				{{ summary_parts[1] | split:'<!--/summary-->' | first }}
				{% else %}
				{{post.content | split:'<!--break-->' | first}}
				{% endif %}
			</p>

			<nav class="linkbar">
				<ul>
				{% if post.categories contains 'episodes' %}
					<li class="play"><a href="#">&#9654; &nbsp;&nbsp; Play</a></li>
					<li class="share"><a href="#">Share</a></li>
					<li class="details"><a href="{{post.url}}">Read More...</a></li>
				{% else %}
					<li class="details"><a href="{{post.url}}">Read More...</a></li>
				{% endif %}
				</ul>
			</nav>
		</section>
	</div>
	{% endfor %}

	<div class="about">
		<section>
			<h3>About the Podcast</h3>

			<p>
				All Things Git is the podcast about the Git version
				control system. We talk to the people who build Git,
				who create tools for Git and teach people how to use it.
			</p>
		</section>
	</div>
</main>
