<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <system.web>
    <compilation debug="true" targetFramework="4.7"/>
    <httpRuntime targetFramework="4.7"/>
  </system.web>
  <system.webServer>
    <handlers>
      <add name="RssGoogleAnalyticsHandler"
           verb="*"
           path="rss.xml"
           type="GoogleAnalyticsHandler.GoogleAnalyticsHandler, GoogleAnalyticsHandler"
           resourceType="Unspecified" />
      <add name="AtomGoogleAnalyticsHandler"
           verb="*"
           path="atom.xml"
           type="GoogleAnalyticsHandler.GoogleAnalyticsHandler, GoogleAnalyticsHandler"
           resourceType="Unspecified" />
      <add name="EpisodesGoogleAnalyticsHandler"
           verb="*"
           path="episodes.xml"
           type="GoogleAnalyticsHandler.GoogleAnalyticsHandler, GoogleAnalyticsHandler"
           resourceType="Unspecified" />
      <add name="EpisodeAudioGoogleAnalyticsHandler"
           verb="*"
	   path="/episodes/audio/*"
           type="GoogleAnalyticsHandler.GoogleAnalyticsHandler, GoogleAnalyticsHandler"
           resourceType="Unspecified" />
    </handlers>
  </system.webServer>
  <location path="episodes/audio">
    <appSettings>
      <add key="redirect-root" value="https://allthingsgit.azureedge.net/episodes/" />
    </appSettings>
  </location>
</configuration>
